<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RayBin.FishImageLabel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <userSettings>
    <RayBin.FishImageLabel.Properties.Settings>
      <setting name="IsMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ColoringAlgorithm" serializeAs="String">
        <value />
      </setting>
      <setting name="LowerColor" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="UpperColor" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="AutoDenoise" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AutoColoringBlockSize" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AutoColoringLowThreshold" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="AutoColoringMinBlockFilter" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="AutoColoringMaxBlockFilter" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="BorderWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BorderColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="FillColor" serializeAs="String">
        <value>#00FFFFFF</value>
      </setting>
      <setting name="SelectedAreaScaling" serializeAs="String">
        <value>5</value>
      </setting>
    </RayBin.FishImageLabel.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>